[submodule "smolswarms/apps/chat/librechat"]
	path = smolswarms/apps/chat/librechat
	url = https://github.com/danny-avila/LibreChat.git
[submodule "smolswarms/apps/saas/wasp-saas"]
	path = smolswarms/apps/saas/wasp-saas
	url = https://github.com/wasp-lang/open-saas.git
