[submodule "apps/chat/librechat"]
	path = apps/chat/librechat
	url = https://github.com/danny-avila/LibreChat.git
[submodule "apps/saas/wasp-saas"]
	path = apps/saas/wasp-saas
	url = https://github.com/wasp-lang/open-saas.git
